
.products{  
}

.products h1{
    display: flex;
    justify-content: center;
    align-items: center;
color: #403d39;
font-size: clamp(1rem, 7vw, 2.2rem);
font-weight: 700;
padding-bottom: 2.4rem;
}

.products-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 4rem;
    
}

.filter-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
    flex-wrap: wrap;
}

.filter-btn button{
    height: 2rem;
    width: 6rem;
    border-radius: 1rem;
    background-color: black;
    cursor: pointer;
transition: .3s ease-in-out;
}

.filter-btn button:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}

.products-box div{
    height: 25rem;
    width: 16rem;
display: flex;
justify-content: center;
align-items: center;
color: black;
justify-content: center;
}
.box{
    display: flex;
    flex-direction: column;
}

.box p{
    padding-top: 0.6rem;
}


.box button{
    color: white;
    background-color: black;
    width: 6rem;
    height: 3rem;
    border-radius: 2rem;
transition: .3s ease-in-out;
}

.box button:hover{
     background-color: white;
     border: 1px solid black;
     color: black;
}

.border{
    overflow: hidden;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
border-radius: 14px;
}

.border img{
    height: 340px;
}

.active {
    background-color: green; /* Change this to the color you want */
    color: white; /* Change this to the color you want */
}