.portfolio{
    background-color: black;
    color: white;
   
}

.port-heading{
    display: flex;
    justify-content: center;
    align-items: center;
font-size: clamp(1rem, 7vw, 2.2rem);
font-weight: 700;
padding-bottom: 2.4rem;
}


.port-works{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 4rem;
  
}

.portbox{
    height: 25rem;
    overflow: hidden;
}
.portbox img{
    height: 340px;
    width: 16rem;
    border-radius: 1rem;
    cursor: pointer;
transition: .3s ease-in-out;
}


.portbox img:hover {
    filter: brightness(0.4); /* Adjust brightness for hover effect */
}



.portbox p{
    padding-top: 0.5rem;
    text-align: center;
    cursor: pointer;
}


